.product_div{
  margin: 20px;
  height: 280px;
  width: 160px;
  font-size: 80%;
}
.prod_image{
  margin: 0 auto;
  height: 140px;
  width: 140px;
  margin-bottom: 0px !important;
}
.prod_name_div{
  margin: 10px 0px 10px 0px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  margin-top: 10px;
}
.productList{
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-bottom: 40px;
}
.cancel_btn{
  padding-left: 5px;
}