.product_div{
  margin: 20px;
  height: 200px;
  width: 160px;
  font-size: 80%;
}
.prod_image{
  margin: 0 auto;
  height: 140px;
  width: 140px;
}
.prod_name_div{
  overflow: hidden;
  max-height: 40px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  margin-top: 10px;
}
.productList{
  height:50vh; 
  overflow: auto;
}
.cancel_buttons{
  padding-left: 10px !important;
  padding-right: 8px !important;
}

.cancel_buttons_icons{
  padding-left: 5px;
}